/* formatando tags */
ul{
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacao li{ 
    display: inline;
}

header{
    margin: 0;
    padding: 0;
    background-color: rgb(76, 76, 158);
}

a{
    text-decoration: none;
}

html{
    min-width: 370px;
}

.margem{
    margin: 10px;
    padding-top: 20px;
}

/* cabecalho */
.cabecalho{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* fontes */

.fonte{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* textos do menu */

.texto-menu{
    font-size: 1.3em;
}

/* logo */

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.menu-mobile{
    background-color: aquamarine;
    position: absolute;
    
}

.menu-mobile li{
    padding: 10px;
}

.escondido{
    display: none;
}


/* Area de login */
#login{
    border: 1px solid red;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.fon{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.fon1{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}






/* responsividade */

@media (max-width: 824px){

    .dnone{
        display: none;
    }
    .texto-menu{
        font-size: 1.7em;
    }

    .fon label{
        font-size: 3em;
    }
    .fon input{
        width: 300px;
        height: 30px;
        font-size: 1.2em;
    }

    .fon button{
        width: 300px;
        height: 30px;
        font-size: 1.2em;
    }
    .fon1 label{
        font-size: 1.5em;
    }
    
}


@media (min-width: 824px){

    .dnone1{
        display: none;
    }
    
    .texto-menu{
        font-size: 1.5em;
    }

    #menumob{
        display: none;
    }

    .fon label{
        font-size: 3em;
    }
    .fon input{
        width: 600px;
        height: 60px;
        font-size: 1.8em;
    }

    .fon button{
        width: 500px;
        height: 50px;
        font-size: 1.2em;
    }
    .fon1 label{
        font-size: 1.5em;
    }
}


